# Varsayılan olarak yok sayılan dosyalar
/shelf/
/workspace.xml
# Rider tarafından yoksayılan dosyalar
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
/.idea.PokemonLite.iml
# Editör Tabanlı HTTP İstemci İstekleri
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
